* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  background-image: linear-gradient(0deg, #184034 0%, #388a6f 100%);
  background-color: #388a6f;
  background-repeat: no-repeat;
  min-height: 87vh;
  color: white !important;
  overflow: hidden;

}

button {
  align-items: center;
  background-color: #FCFCFD !important;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  width: 100px;
  justify-content: center;
  font-size: 12px;
}

#apuestaJugador {
  transform: translate(-50%, 5vh);
}

#centro {
  height: 10vh;
}

#saldoJugador {
  background-color: rgb(4, 16, 1);
  color:#72f53e;
  padding: 2px 5px;
  min-width: 12.5vw;
  border-radius: 5px;
  border: 1px solid #19354e;
  filter: drop-shadow(0px 3px 5px #2f2d2d90);
  text-align: right;

}

#computadora-cartas,
#jugador-cartas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vh;

  .carta:not(:first-child) {
    margin-left: -64px;
  }
}

#fichasApostadas {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: end;
  height: 0vh;
  transform: translate(-50%);
  img {
    width: 64px;
    margin-top: -60px;
    transform: translateY(50%);
    filter: drop-shadow(0px 3px 5px #2f2d2d90);
  }
}

#fichas500,
#fichas100,
#fichas50,
#fichas10 {
  display: flex;
  width: 64px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: end;
  height: 0vh;
  margin: 0 auto;
  transform: translateY(-1.5vh);
  img {
    margin-top: -60px;
    width: 64px;
  }
}

#jugador-cartas .carta:nth-child(1) {
  transform: rotate(-2deg);
}
#jugador-cartas .carta:nth-child(2) {
  transform: rotate(-1deg);
}
#jugador-cartas .carta:nth-child(3) {
  transform: rotate(0deg);
}
#jugador-cartas .carta:nth-child(4) {
  transform: rotate(1deg);
}
#jugador-cartas .carta:nth-child(5) {
  transform: rotate(2deg);
}
#computadora-cartas .carta:nth-child(1) {
  transform: rotate(2deg);
}
#computadora-cartas .carta:nth-child(2) {
  transform: rotate(1deg);
}
#computadora-cartas .carta:nth-child(3) {
  transform: rotate(0deg);
}
#computadora-cartas .carta:nth-child(4) {
  transform: rotate(-1deg);
}
#computadora-cartas .carta:nth-child(5) {
  transform: rotate(-2deg);
}

.carta {
  width: 100px;
  position: relative;
  filter: drop-shadow(0px 3px 5px #2f2d2d90);
}

.centrarDerecha {
  right: 20%;
  transform: translate(50%, -50%);
}

.centrarIzquierda {
  left: 20%;
  transform: translate(-50%, -50%);
}

.centrarVerticalmente {
  position: absolute;
  top: 35%;
}

.centrarHorizontalmente {
  position: absolute;
  left: 50%;
}

.centrarVerticalmenteComputadora {
  position: absolute;
  top: 17.5%!important;
}

.centrarVerticalmenteJugador {
  position: absolute;
  top: 62.5%!important;
}

.controles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 5vh;
  margin: 0 6vw;
}

.fichas {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 10vh;
}

.mensajes {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: #FCFCFD !important;
  border-radius: 4px;
  box-sizing: border-box;
  color: #36395A;
  display: inline-flex;
  height: 45px;
  width: 250px;
  justify-content: center;
  font-size: 16px;
  box-shadow: 0px 1px 2px #2f2d2d90;
}

.noMostrar {
  display: none !important;
}

.tapete {
  height: 10vh;
  width: calc(90vw - 6px);
  margin: 0 auto;
  background-color: #19354e;
  border-radius: 12px;
  border: 1px dashed #ffffff58;
  box-shadow: 0px 0px 0px 2px #19354e;
  filter: drop-shadow(0px 0px 5px #2f2d2d90);
  box-sizing: border-box;
}
